@import "variables";


.main__container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
    background: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container__base{
        width: 550px;
        background:$White;
        box-shadow: 10px 10px 20px $Pale_blue ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius:20px 20px;
      
        .base__left{
            width: 50%;
            height: 380px;
            background:linear-gradient($Light_slate_blue, $Light_royal_blue);
            padding: 35px 20px;
            border-radius: 20px;
            .base__left__text{
                color: $Light_lavender;
                text-align: center;
                font-weight: 500;
                font-size:18px;
            }
            .base__left__circle{
                margin: 20px auto;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                background: linear-gradient($Violet_blue, transparent);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .circle__number{
                    font-size: 50px;
                    font-weight: 800;
                    color: $White;
                }
                .circle__text{
                    color: $Light_lavender;
                    font-weight: 500;
                    font-size: 15px;
                }
            }
            .base__left__title{
                text-align: center;
                color: $White;
                font-weight: 500;
                font-size: 25px;
                font-weight: 500;

            }
            .base__left__parrafo{
                width: 80%;
                margin: 10px auto;
                color: $Light_lavender;
                text-align: center;
                font-size: 14px;

            }
        }

        .base__right{
            width: 50%;
            height:380px;
            background:$White;
            padding: 35px 20px;
            border-radius: 0px 20px 20px 0px;

            //TITLE
            .base__right__title{
                color: $Dark_gray_blue;
                text-align: start;
                font-size: 18px;
                font-weight: 800;
            }

            //CAJA
            .base__right__content{
                background:transparent;
                padding: 3px 0px;
                .base__right__div{
                    margin: 18px auto;
                    width: 90%;
                    padding: 5px 0px;
                    background: rgb(254, 241, 241);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 5px 5px;
                    transition: 0.5s;
                    
                    ///////////LEFT
                    .div__left{
                        margin-left: 18px;
                        padding: 2px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center ;
                        .div__left__img{
                            padding:1px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
    
                        .div__left__parrafo{
                            padding:1px;
                            color: $Light_red;
                            font-size: 14px;
                            margin-left: 2px;
                            font-weight: 500;
                        }
                    }
    
                    ///////////////RIGHT
                    .div__right{
                        margin-right: 18px;
                        width: auto;
                        padding: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .div__right__number{
                            font-size: 14px;
                            font-weight: 700;
                            color:$Dark_gray_blue;
                            
                        }
                        .div__right__span{
                            font-size: 14px;
                            color: grey;
                        }
                    }
                }

                .base__right__div:hover{
                    transform: scale(1.07,1.07);
                    cursor: pointer;
                }
            }
            

            //BOTON
            .base__right__button{
                width: 90%;
                margin-left: 12px;
                padding: 10px;
                font-size: 14px;
                color: white;
                border: none;
                border-radius:50px 50px;
                background: $Dark_gray_blue;
                font-weight: 500;
                transition: 0.5s;
            }

            .base__right__button:hover{
                background:$Light_slate_blue ;
                cursor: pointer;
            }
        }
    }


    .attribution{
        margin-top: 50px;
        width: 100%;
        padding: 10px 0px;
        background:rgba(59, 72, 254, 0.075);
        text-align: center;
    }
}




@media (min-width:320px) and (max-width:423px){
    .main__container{
        width: 100%;
        max-width:initial;
        margin: auto;
        height: initial;
        background: $White;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .container__base{
            width: 100%;
            background:$White;
            box-shadow: 10px 10px 20px $Pale_blue ;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius:20px 20px;
            
            .base__left{
                width:100%;
                height: 350px;
                background:linear-gradient($Light_slate_blue, $Light_royal_blue);
                padding: 35px 20px;
                border-radius: 0px 0px 20px 20px;
                .base__left__text{
                    color: $Light_lavender;
                    text-align: center;
                    font-weight: 500;
                    font-size:18px;
                }
                .base__left__circle{
                    margin: 20px auto;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    background: linear-gradient($Violet_blue, transparent);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .circle__number{
                        font-size: 40px;
                        font-weight: 800;
                        color: $White;
                    }
                    .circle__text{
                        color: $Light_lavender;
                        font-weight: 500;
                        font-size: 15px;
                    }
                }
                .base__left__title{
                    text-align: center;
                    color: $White;
                    font-weight: 500;
                    font-size: 22px;
                    font-weight: 500;
    
                }
                .base__left__parrafo{
                    width: 80%;
                    margin: 10px auto;
                    color: $Light_lavender;
                    text-align: center;
                    font-size: 14px;
    
                }
            }
    
            .base__right{
                width: 100%;
                height:380px;
                background:$White;
                padding: 35px 20px;
                border-radius: 0px;
    
                //TITLE
                .base__right__title{
                    color: $Dark_gray_blue;
                    text-align: start;
                    font-size: 18px;
                    font-weight: 800;
                }
    
                //CAJA
                .base__right__content{
                    width: 100%;
                    background:transparent;
                    padding: 3px 0px;
                    .base__right__div{
                        margin: 18px auto;
                        width: 100%;
                        padding: 10px 0px;
                        background: rgb(254, 241, 241);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 5px 5px;
                        transition: 0.5s;
                        
                        ///////////LEFT
                        .div__left{
                            margin-left: 18px;
                            padding: 2px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center ;
                            .div__left__img{
                                padding:1px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
        
                            .div__left__parrafo{
                                padding:1px;
                                color: $Light_red;
                                font-size: 14px;
                                margin-left: 2px;
                                font-weight: 500;
                            }
                        }
        
                        ///////////////RIGHT
                        .div__right{
                            margin-right: 18px;
                            width: auto;
                            padding: 5px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .div__right__number{
                                font-size: 14px;
                                font-weight: 700;
                                color:$Dark_gray_blue;
                                
                            }
                            .div__right__span{
                                font-size: 14px;
                                color: grey;
                            }
                        }
                    }
    
                    .base__right__div:hover{
                        transform: scale(1.07,1.07);
                        cursor: pointer;
                    }
                }
                
    
                //BOTON
                .base__right__button{
                    width: 100%;
                    margin-left: 0px;
                    padding: 15px 0px;
                    font-size: 14px;
                    color: white;
                    border: none;
                    border-radius:50px 50px;
                    background: $Dark_gray_blue;
                    font-weight: 500;
                    transition: 0.5s;
                }
    
                .base__right__button:hover{
                    background:$Light_slate_blue ;
                    cursor: pointer;
                }
            }
        }
    
    
        .attribution{
            margin-top: 50px;
            width: 100%;
            padding: 10px 50px;
            background:rgba(59, 72, 254, 0.075);
            text-align: center;
            font-size: 12px;
            .link{
                font-size: 12px;

            }
        }
    }
}